@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
body {
  margin-top: 29px;
}

/* SITE_LOGO */
header {
  margin-bottom: 6px;
  width: 1110px;
  margin: 0px auto;
}
.site-logo {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  color: #605e5e;
  font-family: "Roboto";
}
.page-header {
  margin-bottom: 6px;
}

.page-header::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.site-logo:hover {
  color: #48c9b0;
}

/* SITE_NAVIGATION */

.site-navigation-list {
  font-family: "Open Sans";
  color: #0f0101;
  font-weight: 900;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navigation-list {
  position: relative;
  bottom: 28px;
  left: 3px;
}

.site-navigation-linc:hover {
  color: #48c9b0;
}
.site-navigation-linc {
  color: #0f0101;
}
.site-navigation-list-item {
  float: left;
  margin-right: 30px;
}
.site-navigation-list-item:last-child {
  margin-right: 0px;
}
.site-navigation-list {
  float: right;
}
.site-navigation-linc {
  text-decoration: none;
}
/* SECTION AFORTABLE */
.afortable-title {
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Roboto";
  font-weight: 900;
  line-height: 82px;
  color: #fff;
}

.box {
  width: 1670px;
  margin: 0px auto;
}

.afortable-text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 54px;
  font-family: "Roboto";
  color: #fff;
  letter-spacing: 0.2px;
}
.wraper::before {
  position: absolute;
  left: 245px;
  content: "";
  display: block;
  color: white;
  width: 104px;
  height: 104px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
}
main {
  position: relative;
}
.wraper {
  position: absolute;
  top: 221px;
  left: 392px;
  letter-spacing: -1px;
}
/* .multiple-items .col {
  width: 400px;
  height: 300px;
  background: #000;
  margin: 0 10px;
} */
.multiple-items {
}
.multiple-items .col {
  height: 700px;
  width: 1600px;
  margin: 0 auto;
}
/* SECCTION COLLECTION  */
.collection {
  background-color: #e9f0fd;
}
.collection-title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  letter-spacing: -0.9px;
  padding-left: 9px;
}
.collection-title::after {
  content: "";
  display: block;
  width: 160px;
  height: 6px;
  background-color: #1abc9c;
  margin: 0px auto;
}
.afortable {
  background-color: #e9f0fd;
}
